@font-face {
    font-family: 'URWImperialT-Regu';
    src: url('assets/fonts/URWImperialT-Regu.eot');
    src: url('assets/fonts/URWImperialT-Regu.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/URWImperialT-Regu.woff') format('woff'),
         url('assets/fonts/URWImperialT-Regu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'URWImperialT-ExtrBold';
    src: url('assets/fonts/URWImperialT-ExtrBold.eot');
    src: url('assets/fonts/URWImperialT-ExtrBold.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/URWImperialT-ExtrBold.woff') format('woff'),
         url('assets/fonts/URWImperialT-ExtrBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Majesti-Banner-Heavy';
    src: url('assets/fonts/Majesti-Banner-Heavy.eot');
    src: url('assets/fonts/Majesti-Banner-Heavy.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Majesti-Banner-Heavy.woff') format('woff'),
         url('assets/fonts/Majesti-Banner-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('assets/fonts/Roboto-Bold.eot');
    src: url('assets/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         
         url('assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto-Light';
    src: url('assets/fonts/Roboto-Light.eot');
    src: url('assets/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
         
         url('assets/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('assets/fonts/Roboto-Regular.eot');
    src: url('assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         
         url('assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.ad_img
{
  position: absolute;
}

.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #123a24;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#loading
{
    background-color: white;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1170;
    text-align: center;
    background-color: #fff;
    /*background-color: #EBEBEB;*/
    /*display: none;*/
}

#landing_ad
{
    top: 0;
    left: 0;
    /*position: fixed;*/
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1170;
    text-align: center;
    background-color: rgba(0,0,0,0.85);
    padding: 25px;
    padding-top: 15px;
    display: none;
    /*background-color: #EBEBEB;*/
    /*display: none;*/
}

.landing_ad_x
{
 /* position: absolute;
  top: 20px;
  right: 20px;*/
  background-color: #fff;
  color: #000;
  font-family: 'Roboto-Regular';
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 18px;
  border: solid 1px #fff;
  position: absolute;
  right: 0;
  top: 0;
}

.landing_ad_x:hover
{
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.landing_x_div
{
  position: relative;
  text-align: center;
  padding-right: 20px;
}

.landing_ad_span_1
{
  font-family: 'Roboto-Light';
  color: #fff;
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
}

.landing_ad_span_2
{
  font-family: 'Roboto-Regular';
  color: #fff;
  font-size: 40px;
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.landing_ad_img
{
  width: 50%;
  border: solid 1px #878a89;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 3px;
}

.landing_ad_p
{
  font-family: 'Helvetica Neue';
  color: #000;
  font-size: 16px;
  display: block;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.videoWrapper 
{
  position: relative;
  padding-bottom: 45.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-top: 4%;
}
.videoWrapper iframe 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  margin: auto;
  bottom: 0;
}


.outer_container
{
  display: none;
}

#loading .sk-circle 
{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  /*width: 70%;*/
}

.container
{
  width: 100% !important;
  padding-left: 0;
  padding-right: 0;
}

.top_div
{
  width: 100%;
  position: relative;
  background-color: #EBEBEB;
  padding-bottom: 20px;
}

.top_div_main
{
  width: 100%;
  padding-top: 10%;
  padding-bottom: 20%;
  background-image: url("assets/img/main_bg_3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.top_div_main img
{
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*.top_div_main
{
  width: 100%;
}

.top_div_main img
{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/

.top_div_main_span_1
{

}

.header_div
{
  width: 100%;
  padding: 16px;
  position: fixed;
  z-index: 100;
}

.top_head_class
{
  background-color: rgba(0,0,0,0.5);
}

.head_spans
{
  text-align: center;
}

.head_spans span
{
  font-family: 'Roboto-Regular';
  color: #fff;
  font-size: 17px;
  margin-right: 5px;
  text-transform: uppercase;
  display: inline-block;
  /*margin-bottom: 20px;*/
}

.head_spans span:hover
{
  cursor: pointer;
  opacity: 0.75;
}

.head_spans img
{
  margin-left: 40px;
}

.top_img img
{
  width: 25px;
  margin-left: 0;
}

.video_div
{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.video_div video
{
  width: 60%;
}

.top_div_text
{
  text-align: center;
  margin-top: 30px;
}

.top_div_text_span_1
{
  font-family: 'URWImperialT-Regu';
  color: #123a24;
  font-size: 20px;
  display: block;
}

.top_div_text_span_2
{
  font-family: 'URWImperialT-Regu';
  color: #123a24;
  font-size: 35px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.top_div_text_2
{
  padding-top: 2%;
  text-align: center;
}

.top_div_text_2_span_1
{
  font-family: 'Roboto-Regular';
  color: #123a24;
  font-size: 20px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.top_div_text_2_p
{
  font-family: 'Roboto-Regular';
  color: #000;
  font-size: 16px;
  text-align: center;
  /*padding: 20px;*/
  padding: 3%;
  padding-top: 20px;
  padding-bottom: 4%;
}

.top_div_text_2_p_2
{
  padding-bottom: 20px;
}

.ground_div
{
  background-image: url("assets/img/ground_bg_3.png");
  height: 600px; 
  background-position: right -90px top;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-bottom: 30px;
  /*display: table;*/
}

.ground_div_text
{
  text-align: center;
  /*display: table-cell;
  vertical-align: middle;
  float: none !important;*/
}

.ground_div_span_1
{
  font-family: 'Roboto-Light';
  color: #03302b;
  font-size: 25px;
  display: block;
  margin-bottom: 0;
}

.ground_div_span_2
{
  font-family: 'Roboto-Regular';
  color: #03302b;
  font-size: 35px;
  display: block;
}

.ground_div_span_3
{
  font-family: 'Roboto-Regular';
  color: #03302b;
  font-size: 35px;
  display: block;
}

.ground_div_span_4
{
  font-family: 'Helvetica Neue';
  color: #414141;
  font-size: 17px;
  display: block;
  margin-top: 10px;
  text-decoration: underline;
}

.ground_div_span_4:hover
{
  cursor: pointer;
  opacity: 0.75;
}

.ground_div_2
{
  display: none;
  width: 100%;
  padding: 25px;
  text-align: center;
}

.ground_div_2_span_1
{
  font-family: 'Roboto-Light';
  color: #03302b;
  font-size: 40px;
  display: block;
  margin-bottom: 10px;
}

.ground_div_2_span_2
{
  font-family: 'Roboto-Regular';
  color: #03302b;
  font-size: 50px;
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.ground_div_2_img
{
  width: 80%;
  border: solid 1px #878a89;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 3px;
}

.ground_div_2_p
{
  font-family: 'Helvetica Neue';
  color: #03302b;
  font-size: 16px;
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.prop_div
{
  text-align: center;
  padding-top: 4%;
  border-top: solid 1px #0e3329;

  /*background-image: url("assets/img/properties/c1.jpg");
  height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}

.prop_div_span_1_div
{
  margin-bottom: 20px;
}

.prop_div_span_2_div
{
  margin-bottom: 30px;
}

.prop_div_span_1
{
  font-family: 'Roboto-Light';
  color: #0e3329;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.prop_div_span_2
{
  font-family: 'Roboto-Regular';
  color: #414141;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-right: 3px;
  margin-left: 3px;
}

.prop_div_span_3
{
  font-family: 'Roboto-Regular';
  color: #414141;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 3px;
  margin-left: 3px;
}

.active_1, .active_2
{
  text-decoration: underline;
}

.prop_slider
{
  width: 85% !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#owl-demo
{
  width: 100%;
  float: left;
  /*background-color: #333333;*/
  margin-bottom: 10px;
}
#owl-demo .item
{
  background: transparent;
  padding: 30px 0px;
  /*padding: 14px;*/
  padding: 2px;
  /*width: 125px;
  height: 125px;*/
  /* margin: 5px; */
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 0;
  text-align: center;
  position: relative;
  /*top: 50%;
  transform: translateY(-50%);*/
}

.owl-item
{
  /*height: 140px;*/
  padding: 10px;
  /*margin-right: 5px;
  margin-left: 5px;*/
  background-color: transparent;
}

.owl-item img:hover
{
  cursor: pointer;
  opacity: 0.75;
}

.owl-buttons
{
  display: none;
}

.item img
{
  /*width: 100%;*/
  height: 150px;
}

.prop_bot_div
{
  margin-top: 15px;
  text-align: center;
}

.prop_bot_div_span
{
  font-family: 'Roboto-Regular';
  color: #0d4e31;
  font-weight: bold;
  font-size: 20px;
}

.prop_bot_div_p
{
  font-family: 'Roboto-Regular';
  color: #444444;
  font-size: 16px;
  text-align: center;
  /*padding: 25px;*/
  padding: 4%;
  padding-bottom: 20px;
}

.amen_div
{
  padding-left: 10px;
  padding-right: 10px;
  border-top: solid 1px #0e3329;
  border-bottom: solid 1px #0e3329;
  /*background-color: #e4e4e4;*/
  /*width: 90% !important;*/
}

.hidden_text
{
  display: none;
}

.hidden_slider
{
  display: none !important;
}

.hidden_image_div
{
  display: none;
}

.floor_img:hover
{
  opacity: 0.75;
  cursor: pointer;
}

#modal-4 .md-content img 
{
  width: 100%;
  border: solid 3px #fff;
}

#modal-4 .md-close
{
  display: block !important;
  left: initial;
  right: -10px;
}

#modal-5 .md-content
{
  background-color: transparent !important;
  text-align: center;
}

#modal-5 p
{
  text-align: center;
  width: initial !important;
}

#modal-5 .md-content span 
{
  font-family: 'Roboto-Regular';
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

#modal-5 .md-content img 
{
  width: 100%;
  margin-bottom: 20px;
  margin-top: 15px;
  border: solid 3px #fff;
}

#modal-5 .md-close
{
  display: block !important;
  left: initial;
  right: -10px;
}

#gforms_confirmation_message
{
  display: none;
}

.sep_hide
{
  /*display: none;*/
}
.prop_div_span_2_1:hover, .prop_div_span_2_2:hover, .prop_div_span_2_3:hover, .prop_div_span_2_4:hover
{
  opacity: 0.75;
  cursor: pointer;
}
.amen_div_span_1_div
{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.amen_div_span_1
{
  font-family: 'Roboto-Light';
  color: #0e3329;
  font-size: 40px;
  text-transform: uppercase;
}

.owl-demo_2 p
{
  font-family: 'Roboto-Regular';
  color: #424343;
  font-size: 15px;
  padding: 10px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}


.owl-demo_2 .item img
{
  height: 250px;
  margin-top: 10px;
}

.owl-demo_2 .item span
{
  font-family: 'Roboto-Regular';
  color: #0e3329;
  font-size: 20px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  /*letter-spacing: 4px;*/
}

.owl-demo_2 .owl-item:hover
{
  /*cursor: pointer;
  opacity: 0.8;*/
}

.location_div
{
  border-bottom: solid 1px #0e3329;
  padding-top: 2%;
}

.location_div_span_1_div, .location_div_span_2_div
{
  text-align: center;
}

.location_div_span_1_div
{
  /*margin-top: 2%;*/
}

.location_div_span_1
{
  font-family: 'Roboto-Light';
  color: #295941;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.location_div_span_2
{
  font-family: 'Roboto-Regular';
  color: #0e5637;
  font-size: 20px;
}

.location_div_p_div
{
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}

.location_div_p
{
  font-family: 'Roboto-Regular';
  color: #000;
  font-size: 15px;
  padding: 20px;
  text-align: center;
}

.maps_div
{
  padding-bottom: 20px;
}

.maps 
{
  width: 64%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border: solid 3px #0e3329;
}

.pay_div
{
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.pay_div_span
{
  font-family: 'Roboto-Light';
  color: #295941;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.pay_div_p
{
  font-family: 'Roboto-Regular';
  color: #4a4a4a;
  font-size: 15px;
  padding: 20px;
  text-align: center;
}

.pay_div_images_div
{
  text-align: center;
}

.pay_div_images_div img 
{
  display: inline-block;
  margin-right: 20px;
  width: 14%;
}

.contact_div
{
  width: 100%;
  background-image: url("assets/img/contact_bg.jpg");
  /*height: 200px; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.contact_div
{
  padding: 10px;
  padding-top: 25px;
  padding: 25px;
}

.contact_div_span_1_div, .contact_div_span_2_div, .contact_div_p_div, .contact_div_span_3_div, .contact_div_span_3_1_div, .contact_div_span_3_2_div
{
  text-align: center;
}

.contact_div_span_3_1_div
{
  margin-bottom: 10px;
  margin-top: 10px;
}

.contact_div_span_3_2_div
{
  margin-top: 10px;
}

.contact_div_span_1, .contact_div_span_2
{
  font-family: 'Roboto-Light';
  color: #fff;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.contact_div_span_2
{
  font-family: 'Roboto-Light';
  color: #fff;
  font-size: 33px;
}

.contact_div_p
{
  font-family: 'Roboto-Regular';
  color: #fff;
  font-size: 15px;
  padding: 15px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.contact_div_span_3, .contact_div_span_4
{
  font-family: 'Roboto-Bold';
  color: #fff;
  font-size: 15px;
}

.contact_div_span_5
{
  font-family: 'Roboto-Regular';
  color: #fff;
  font-size: 15px;
}

.contact_div_span_2
{
  font-size: 30px;
}

.reg_div
{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.reg_frame
{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  border: solid 1px #295941;
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.reg_form
{
  margin-top: 20px;
}

.reg_div_span
{
  font-family: 'Helvetica Neue'; 
  color: #295941;
  font-size: 35px;
}

.form-control
{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 22px;
  border-radius: 15px;
  color: #d6d7d7;
  background-color: #779483;
  text-align-last: center;
}

.prop_of_interest
{
    padding: 0;
    height: 45px;
    background: url(assets/img/select_arrow_form.png) no-repeat right;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-position-x: 96%;
    background-position-y: 50%;
    background-color: #779483;
    background-size: 7%;
}

.prop_of_interest:hover
{
  cursor: pointer;
}

.submit_btn
{
  background-color: #0e3329;
  border: solid 2px #0e3329;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.submit_btn:hover, .submit_btn:focus
{
  background-color: #fff !important;
  border-color: #0e3329 !important;
  color: #0e3329 !important;
}

.form-group
{
  margin-bottom: 35px;
}

input::-webkit-input-placeholder {
color: #dadada !important;
/*font-size: 20px;*/
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #dadada !important;  
/*font-size: 20px;*/
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #dadada !important;  
/*font-size: 20px;*/
}
 
input:-ms-input-placeholder {  
color: #dadada !important;  
/*font-size: 20px;*/
}

.footer_div
{
  width: 100%;
  background-image: url("assets/img/footer_bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  text-align: center;
  position: relative;
}

.footer_div_span
{
  font-family: 'Helvetica Neue';
  color: #fff;
  font-size: 15px;
}

.footer_icons
{
  text-align: center;
  margin-top: 12px;
}

.footer_icons img
{
  margin-right: 5px;
  display: inline-block;
}

.footer_icons img:hover
{
  opacity: 0.75;
  cursor: pointer;
}

#gform_1, .md-trigger
{
  display: none;
}

.md-close, .md-trigger
{
    display: none;
}

.md-close
{
  position: absolute;
  top: -10px;
  left: -10px;
  color: #333333;
  border: solid 1px #333333;
  background-color: #fff;
}

.md-close:hover
{
  color: #fff;
  background-color: #333333;
  border-color: #333333;
}

.md-content > div
{
  padding-bottom: 10px !important;
}

.md-content
{
  background-color: #fff !important;
}
.md-content h3
{
  color: #123a24 !important;
}

.md-content img
{
  width: 50px;
  margin-right: 12px;
}

.footer_last
{
  padding-top: 1%;
}

.footer_last span
{
  font-family: "Myriad Pro";
  color: #fff;
  display: block;
}

.top_arrow
{
  position: absolute;
  left: 3%;
  top: -35px;
}

.top_arrow:hover
{
  cursor: pointer;
  opacity: 0.75;
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}

.md-content
{
  background-color: transparent !important;
}

.md-content h3
{
  background: rgba(255,255,255,0.5) !important;
}

.pri_div
{
  padding-top: 2%;
}

.pri_div span
{
  font-family: "Myriad Pro";
  color: #fff;
}

.pri_div span:hover
{
  opacity: 0.75;
}

a:focus, a:hover 
{
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 1137px) {

  .ground_div
  {
    background-position: right -170px top;
  }

}

@media screen and (max-width: 975px) {

  .ground_div
  {
    background-image: none;
    height: initial;
  }

  .dummy_div
  {
    display: none;
  }

  .ground_div_text
  {
    width: 90%;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (max-width: 900px) {

  .ground_div 
  {
     background: none; 
     height: initial; 
  }

  .ground_div_text 
  {
    width: 100%;
  }

  .ground_div_span_1
  {
    font-size: 20px;
  }

   .ground_div_span_2, .ground_div_span_3
  {
    font-size: 30px;
  }

}
@media screen and (max-width: 768px) {

  .head_spans span
  {
    font-size: 14px;
  }

  #loading video 
  {
    width: 100%;
  }

  .top_div_main
  {
    padding-top: 20%;
  }

  .pay_div_images_div img {
    display: block;
    margin-right: 20px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.reg_div_span
{
  font-size: 20px;
}

input::-webkit-input-placeholder {
color: #dadada !important;
font-size: 12px;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #dadada !important;  
font-size: 12px;
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #dadada !important;  
font-size: 12px;
}
 
input:-ms-input-placeholder {  
color: #dadada !important;  
font-size: 12px;
}

.footer_last
{
  margin-top: 20px;
  padding-top: 0;
}

#map1
{
  width: 90%;
}

.md-modal
{
  max-width: initial !important;
  width: 70% !important;
}

.reg_frame
{
  width: 80%;
}

.pri_div 
{
    padding-top: 0; 
    margin-bottom: 20px;
}

.ground_div_2_span_1
{
  font-family: 'Roboto-Light';
  color: #03302b;
  font-size: 25px;
  display: block;
  margin-bottom: 10px;
}

.ground_div_2_span_2
{
  font-family: 'Roboto-Regular';
  color: #03302b;
  font-size: 35px;
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.ground_div_2_img
{
  width: 90%;
}

.ground_div_2_p
{
  font-size: 15px;
  width: 85%;
}

}

@media screen and (max-width: 500px) {

.remove_mobile
{
  display: none;
}

input::-webkit-input-placeholder {
color: #dadada !important;
font-size: 8px;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #dadada !important;  
font-size: 8px;
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #dadada !important;  
font-size: 8px;
}
 
input:-ms-input-placeholder {  
color: #dadada !important;  
font-size: 8px;
}

.owl-demo_2 .item img
{
  height: 180px;
}
.owl-demo_2 p
{
  width: initial !important;
}

.top_div_main
{
  padding-top: 30%;
}

.landing_ad_span_1
{
  font-size: 25px;
}

.landing_ad_span_2
{
  font-size: 35px;
}

.landing_ad_img
{
  width: 85%;
}

.landing_ad_p
{

  font-size: 15px;
  width: 85%;
}


}