@font-face {
    font-family: 'Praxis Light';
    src: url('assets/fonts/PraxisLT-Light.eot');
    src: url('assets/fonts/PraxisLT-Light.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/PraxisLT-Light.woff') format('woff'),
         url('assets/fonts/PraxisLT-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Praxis Bold';
    src: url('assets/fonts/PraxisLT-Bold.eot');
    src: url('assets/fonts/PraxisLT-Bold.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/PraxisLT-Bold.woff') format('woff'),
         url('assets/fonts/PraxisLT-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.container
{
	width: 100% !important;
	padding-left: 0;
	padding-right: 0;
}
.row_1
{
	width: 100%;
	/*height: 500px;
	background-image: url('assets/img/top_back.jpg');
	background-size: cover;*/
}

.row_1 img 
{
	width: 100%;
  height: 570px;
}

.logo_div
{
	width: 12%;
	position: absolute;
	top: 0;
	left: 10%;
	/*width: 12%;
    position: relative;
    float: left;
    margin-left: 8%;*/
}

.logo_div img
{
	width: 100%;
}

.title_div
{
	/*position: relative;
	top: 40px;
	left: 30%;
	text-align: center;*/


	/*position: relative;
    text-align: center;
    display: inline-block;
    padding-top: 40px;
    margin-left: 7%;*/

    position: relative;
    text-align: center;
    width: 100%;
    padding-top: 40px;
}
.title_span_1
{
	font-family: 'Helvetica Neue';
	font-size: 50px;
	color: #64316f;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
}

.title_span_2
{
	font-family: 'Helvetica Neue';
	font-size: 28px;
	color: #64316f;
	font-weight: bold;
	text-transform: uppercase;
}

.row_2
{
	   width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.row_2 img 
{
	width: 100%;
}

.row_2_1
{
	width: 100%;
	text-align: center;
}

.row_2_1 span
{
	font-family: 'Helvetica Neue';
	font-size: 25px;
	color: #fff;
	font-weight: bold;
}

.row_2_2
{
	width: 100%;
	text-align: center;
}
.row_2_cols
{
	width: 25%;
	display: inline-block;
	text-align: center;
}

.row_2_left_bold
{
	font-family: 'Praxis Bold';
	font-size: 90px;
	font-weight: bold;
	color: #fff;
}

.row_2_left_bold_2
{
	font-family: 'Praxis Bold';
	font-size: 50px;
	font-weight: bold;
	color: #fff;
}

.row_2_left_light
{
	font-family: 'Praxis Light';
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
}

.row_3
{
	text-align: center;
}

.row_3_left
{
	text-align: center;
	margin-top: 7%;
	float: none !important;
	display: inline-table;
	width: 30%;
	margin-right: 3%;
    margin-left: 5%;
}

.row_3_left img
{
	width: 100%;
	margin-bottom: 20px;
}

.row_3_left p
{
	font-family: 'Helvetica Neue';
	font-size: 15px;
	color: #767676;
	font-weight: bold;
}

.minus_cont
{
	display: table;
}

.minus_div
{
	background-color: #818181;
	width: 40px;
	height: 40px;
	color: #fff;
	border-radius: 20px;
	text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.minus_div span
{
    font-size: 26px;
}

.minus_active, .dots
{
	display: none;
}

.minus_cont:hover
{
	cursor: pointer;
}

.row_4_left, .row_5_left
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	float: none !important;
	margin-bottom: 25px;
	width: 85%;
}

.sub_title_div
{
	display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}
.sub_title, .dots
{
	font-family: 'Helvetica Neue';
	font-size: 25px;
	color: #767676;
	font-weight: bold;
	text-transform: uppercase;
}

.row_4_left ul
{
	list-style-type: none;
	display: none;
}

.row_4_left ul li
{
	font-family: 'Helvetica Neue';
	font-size: 17px;
	color: #767676;
}

#bwg_container1_0
{
	margin-top: 15px;
	display: none;
}
#bwg_container1_0 #bwg_container2_0 .bwg_standart_thumbnails_0
{
	max-width: initial !important;
}

.bwg_standart_thumb_0
{
	border: solid 5px #643070;
    border-radius: 4px;
    margin-right: 9px;
    margin-bottom: 9px;
}
#bwg_container1_0 #bwg_container2_0 .bwg_standart_thumb_spun1_0:hover
{
	transform: scale(1.02) !important;
}

#gallery-container, .bwg_toggle_container, .bwg_ctrl_btn_container
{
	display: none;
}

.row_7
{
	height: 300px;
	/*margin-top: 20px;*/
	margin-bottom: 20px;
	background-color: #a1a1a1;
	display: table;
}

.md-close, .md-trigger
{
    display: none;
}

.md-close
{
  position: absolute;
  top: -10px;
  right: -10px;
  color: #64316f;
  border: solid 1px #64316f;
  background-color: #fff;
}

.md-close:hover
{
  color: #fff;
  background-color: #64316f;
  border-color: #64316f;
}

.md-content
{
	background-color: #64316f !important;
}
.md-content > div
{
  padding-bottom: 10px !important;
}

.form_btns:hover
{
    color: #fff;
    background-color: #64316f;
    border-color: #64316f;
}

.md-content img
{
    margin-right: 10px;
    width: 5%;
    margin-bottom: 3px;
}

#gform_2, #gforms_confirmation_message, #gform_wrapper_2, .g_img
{
    display: none !important;
}

.reg_form input::-webkit-input-placeholder {
    color: #f2f2f2;
    font-family: 'Helvetica Neue';
	font-weight: normal;
    font-size: 16px;
}
.reg_form input:-moz-placeholder {
    /* FF 4-18 */
    color: #f2f2f2;
    font-family: 'Helvetica Neue';
	font-weight: normal;
    font-size: 16px;
}
.reg_form input::-moz-placeholder {
    /* FF 19+ */
    color: #f2f2f2;
    font-family: 'Helvetica Neue';
	font-weight: normal;
    font-size: 16px;
}
.reg_form input:-ms-input-placeholder {
    /* IE 10+ */
    color: #999999;
    font-family: 'Helvetica Neue';
	color: #f2f2f2;
    font-size: 16px;
}

.reg_form textarea::-webkit-input-placeholder {
    color: #f2f2f2;
    font-family: 'Helvetica Neue';
	font-weight: normal;
    font-size: 16px;
}
.reg_form textarea:-moz-placeholder {
    /* FF 4-18 */
    color: #f2f2f2;
    font-family: 'Helvetica Neue';
	font-weight: normal;
    font-size: 16px;
}
.reg_form textarea::-moz-placeholder {
    /* FF 19+ */
    color: #f2f2f2;
    font-family: 'Helvetica Neue';
	font-weight: normal;
    font-size: 16px;
}
.reg_form textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #f2f2f2;
    font-family: 'Helvetica Neue';
	font-weight: normal;
    font-size: 16px;
}
.reg_label
{
	font-family: 'Helvetica Neue';
	font-size: 20px;
	font-weight: 300;
	color: #fff;
	margin-bottom: 11px;
}
.reg_form
{
	width: 30%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.submit_btn
{
	color: #fff;
    background-color: #7e3c8d;
    border-color: #7e3c8d;
    padding: 4px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: 'Helvetica Neue';
}

.submit_btn:hover
{
	color: #7e3c8d;
    background-color: #fff;
    border-color: #7e3c8d;
}

.form-control
{
	text-align: center;
}

.form-group 
{
    margin-bottom: 25px;
}
.footer img 
{
	width: 100%;
}

.spider_popup_wrap
{
  background-color: transparent !important;
}
/***********/

#loading
{
    background-color: white;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1170;
    text-align: center;
    /*display: none;*/
}

.sk-circle 
{
  	width: 40px;
	height: 40px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #64316f;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/***********/