.books_div
{
  text-align: center;
  padding-left: 1% !important;
  padding-right: 1% !important;
  padding-top: 50px;
}

.book
{
  text-align: left;
  margin-bottom: 4%;
  /*width: 45%;
  float: left;*/
}

.book_left
{
  padding: 0;
}

.book_right
{
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
}

.book_left img
{
  width: 100%;
  max-height: 250px;
  min-height: 225px;
  border: solid #333333;
}

.book_title
{
  display: block;
  background-color: #333333;
  color: #fff;
  font-family: 'GESSTwoBold-Bold';
  font-size: 13px;
  width: 100%;
  padding: 5px;
}

.book_overview_title
{
  display: inline-block;
  background-color: #339966;
  color: #fff;
  font-family: 'GESSTextLight-Light';
  font-size: 13px;
  padding-right: 8px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  /*text-transform: uppercase;*/
}

.book_overview, .book_overview_full
{
  color: #666666;
  font-family: 'GESSTextLight-Light';
  font-size: 13px;
  padding-top: 5px;
  text-align: justify;
}

.book_overview_full
{
	display: none;
}

#modal-1 .md-content
{
    height: 500px;
    overflow: scroll;
}

.md-content h3
{
	background: #333333 !important;
}

.modal_image_div
{
	width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.modal_image_div img
{
	width: 100%;
	margin-left: 0;
	margin-bottom: 0;
}

.more_book_btn
{
  float: left;
  background-color: #339966;
  color: #fff;
  border-radius: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: 'GESSTextLight-Light';
  font-size: 16px;
  border: solid 1px #339966;
}

.more_book_btn:hover
{
  background-color: #fff;
  color: #339966;
}
.page_div
{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.links
{
  background-color: #333333;
  display: inline-block;
  color: #fff;
  font-size: 17px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.links_active div
{
  background-color: #319966;
}

.links_active div:hover
{
  cursor: default;
}

.links:hover
{
  background-color: #319966;
  cursor: pointer;
}

.no_link
{
  display: none;
}

.size_2, .size_3
{
	display: none;
}

.modal_over a
{
	color: #000;
}

.modal_over a:hover
{
	color: #333333;
}

@media screen and (max-width: 1070px) {

	.book_title, .book_overview_title, .book_overview
	{
		font-size: 12px;
	}
}

@media screen and (max-width: 950px) {

	.size_1
	{
		display: none;
	}
	.size_2
	{
		display: block;
	}

	.size_2
	{
		width: 100%;
		margin-bottom: 6%;
	}
	.size_2 .book_left
	{
		height: 200px;
    	width: auto;
	}

	.size_2 .book_left img 
	{
	    width: inherit; 
	    max-height: inherit; 
	    min-height: inherit; 
	    height: 220px;
	}

	.size_2 .book_right
	{
		display: table;
	}

	.book_title, .book_overview_title, .book_overview
	{
		font-size: 13px;
	}
}	
@media screen and (max-width: 768px) {

	.title_strip
	{
		width: 106%;
	}

	.size_2
	{
		display: none;
	}
	.size_3
	{
		display: block;
	}

	.book
	{
		margin-bottom: 10%;
	}

	.book_left
	{
		width: 100%;
    	text-align: center;
	}

	.book_left img
	{
		width: 30%;
		max-height: inherit;
		min-height: inherit;
	}

	.book_right
	{
		margin-top: 10px;
		text-align: center;
		width: 100%;
	}

	.book_title
	{
		text-align: center;
	}

	.overview_dot
	{
		display: none;
	}
	.book_overview_title
	{
		width: 100%;
		text-align: center;
	}
	.more_book_btn
	{
		float: none;
	}

}	


