
.main_content 
{
    padding-bottom: 10px;
}

.books_div
{
  text-align: center;
  padding-left: 1% !important;
  padding-right: 1% !important;
  padding-top: 50px;
}

.book
{
  text-align: right;
}

.book_right
{
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.book_title
{
	display: block;
	background-color: #339966;
	color: #fff;
	font-family: 'GESSTwoBold-Bold';
	font-size: 21px;
	width: 100%;
	padding: 5px;
	text-align: center;
	margin-bottom: 15px;
}

.book_right p
{
	color: #666666;
	font-family: 'GESSTextLight-Light';
	font-size: 15px;
	padding-top: 5px;
	text-align: justify;
}
.book_right strong
{
	font-family: 'GESSTwoBold-Bold';
}

#modal-1 .md-content
{
    height: 500px;
    overflow: scroll;
}

.md-content h3
{
	background: #333333 !important;
}

.modal_image_div
{
	width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.modal_image_div img
{
	width: 100%;
	margin-right: 0;
	margin-bottom: 0;
}


.modal_over a
{
	color: #000;
}

.modal_over a:hover
{
	color: #333333;
}
	
@media screen and (max-width: 768px) {

	.title_strip
	{
		width: 106%;
	}

	.book_right
	{
		text-align: center;
		width: 100%;
	}

	.book_title
	{
		font-size: 15px;
	}

	.book_right p
	{
		font-size: 13px;
	}

}	


