@font-face {
    font-family: 'Aileron Regular';
    src: url('../fonts/aileron-regular-webfont.eot');
    src: url('../fonts/aileron-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileron-regular-webfont.woff') format('woff'),
         url('../fonts/aileron-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aileron Black';
    src: url('../fonts/aileron-black-webfont.eot');
    src: url('../fonts/aileron-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileron-black-webfont.woff') format('woff'),
         url('../fonts/aileron-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aileron Light';
    src: url('../fonts/Aileron-Light.eot');
    src: url('../fonts/Aileron-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-Light.woff') format('woff'),
         url('../fonts/Aileron-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.main_content
{
    padding-bottom: 40px;
}

.client_cont
{
    /*background-image: url(../img/client_background.png);*/
    background-size: cover;
    width: 100%;
    height: 1120px;
    position: relative;
}

.top_strip
{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #444444;
    width: 100%;
    height: 20px;
    z-index:200;
}


.all_clients
{
    position: relative;
    height: 645px;
    margin-left: auto;
    width: 95%;
    /* height: 1120px; */
    /* top: 130px; */
    /*margin-right: auto;*/
}

.client_header
{
    text-align: center;
    height: 116px;
}

.client_span_1
{
    font-family: 'Arial';
    font-weight: bold;
    font-size: 48px;
    color: #444444;
    text-transform: uppercase;
    display: block;
}

.client_span_2
{
    font-family: 'Aileron Regular';
    font-weight: normal;
    font-size: 17px;
    color: #333333;
    display: block;
}

.client_top_tabs_div
{
    position: absolute;
    left: 0;
    right: 0;
    top: 11.5%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 73%;
    padding-left: 8%;
    height: 40px;
}
.client_top_tabs
{
    position: absolute;
    background-color: #666666;
    width: 9%;
    height: 35px;
    /*display: table;*/
    padding: 1%;
    text-align: center;
    top: 0;
    border: solid 2px #333333;
}

.client_top_tabs:hover
{
    top: -5px;
    height: 47px;
    background-color: #339966;
    cursor: pointer;
}

.tab_1
{
    left: 6%;
    width: 10%;
    /*height: 57px !important;
    top: -20px;*/
}

.tab_2
{
    left: 17.5%;
}

.tab_3
{
    left: 28%;
}

.tab_4
{
    left: 38.5%;
}

.tab_5
{
    left: 48.5%;
}

.tab_6
{
    left: 58.5%;
}

.tab_7
{
    left: 68.5%;
}

.tab_8
{
    left: 78.5%;
}

.tab_9
{
    left: 89.5%;
}

.top_active
{
    top: -5px;
    height: 47px;
    background-color: #339966;
}

.client_top_tabs span
{
    font-family: 'Arial';
    font-weight: normal;
    font-size:  13px;
    color: #fff;
    /*display: table-cell;
    vertical-align: middle;*/
}

.client_right_tabs_div
{
    position: absolute;
    left: 15.4%;
    top: 25.7%;
}

.client_right_tabs
{
    position: absolute;
    background-color: #666666;
    height: 75px;
    width: 80px;
    display: table;
    padding: 1%;
    /*padding-top: 10px;*/
    text-align: center;
    right: 5px;
    border: solid 2px #333333;
}

.client_right_tabs:not(.disabled_section):hover
{
    right: 10px;
    background-color: #339966;
    cursor: pointer;
}

.disabled_section
{
    opacity: 0.5 !important;
}

.client_right_tabs span
{
    font-family: 'Arial';
    font-weight: normal;
    font-size:  13px;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}
.tab_1_sector
{
    top: 0;
}

.tab_2_sector
{
    top: 87px;
}

.tab_3_sector
{
    top: 174px;
}

.tab_4_sector
{
    top: 261px;
}

.tab_5_sector
{
    top: 358px;
    width: 100px;
    right: -5px;
}

.tab_5_sector:not(.disabled_section):hover
{
    right: 0px;
}

.top_active_sector
{
    right: 10px;
    background-color: #339966;
}

.top_active_sector_5
{
    right: 0px;
    background-color: #339966;
}

.client_right_tabs_div .client_right_tabs
{
     -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-bottom: 50%;
}
.client_shadow_1
{
    width: 73%;
    position: absolute;
    left: 0;
    right: 0;
    /* top: 185px; */
    top: 105px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    /* height: 433px; */
    /* height: 645px; */
    border-top: solid 1px #fff;
    border-bottom: solid 3px #fff;
    background-color: #e6e6e6;
    z-index: 70;
    border: solid #333333;
}

.client_shadow_2
{
    width: 74%;
    position: absolute;
    left: -2.5px;
    right: 0;
    /* top: 190px; */
    top: 112px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    /* height: 420px; */
    /* height: 632px; */
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    background-color: #e6e6e6;
    z-index: 80;
    border: solid #333333;
}

.client_shadow_3
{
    width: 75%;
    position: absolute;
    left: -3.5px;
    right: 0;
    /* top: 195px; */
    top: 120px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    /* height: 420px; */
    /* height: 632px; */
    border-top: solid 1px #fff;
    background-color: #e6e6e6;
    border: solid #333333;
    z-index: 80;
}

/*.download_port
{
    position: absolute;
    bottom: -9%;
    left: 1%;
    background-color: #cc3234;
    width: auto;
    padding: 1.5%;
    text-align: center;
}

.download_port:hover
{
    cursor: pointer;
}

.download_port span
{
    font-family: 'Arial Regular';
    font-weight: normal;
    font-size: 22px;
    color: #fff;
}*/
.clients_list
{
    width: 90%;
    float: left;
    padding-left: 3%;
    padding-top: 1%;
    overflow: scroll;
    /*min-height: 300px;*/
    min-height: 400px;
    max-height: 500px;
}

.mCSB_outside + .mCSB_scrollTools
{
    right: -6% !important;
    top: 2% !important;
}

.mCSB_dragger_bar
{
    /*height: 100px !important;*/
    width: 25px !important;
    border-radius: 0 !important;
    background-color: #c8c8c8 !important;
    opacity: 1 !important;
}
.mCSB_dragger
{
    min-height: 0 !important;
    height: 100px !important;
    /*max-height: 580px !important;*/
}
.mCSB_draggerRail
{
    display: none !important;
}

.mCSB_buttonUp
{
    background-position: 0 !important;
    background-image: url(../img/scroll_arrow_up.png) !important;
    opacity: 1 !important;
    width: 25px !important;
}

.mCSB_buttonDown
{
    background-position: 0 !important;
    background-image: url(../img/scroll_arrow_down.png) !important;
    opacity: 1 !important;
    width: 25px !important;
}
.mCSB_scrollTools
{
    opacity: 1 !important;
}
.mCSB_scrollTools a + .mCSB_draggerContainer
{
    margin: 25px 0 !important;
}
.clients_div
{
    float: left;
    width: 21%;
    background-color: #fff;
    border: solid 1px #c2c2c2;
    margin: 2%;
    /*display: none;*/
}

.clients_div img
{
    width: 100%;
}

.country_drop
{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.country_drop
{
    padding-top: 40px;
}

.client_top_tabs_div, .client_right_tabs_div
{
    display: none;
}

.wrapper_menu2
{
    background-color: #333333;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.wrapper_menu2 select
{
    background-color: #dddddd !important;
    color: #6d6d6d;
    font-family: 'Aileron Black';
    /*width: 145px !important;*/
    overflow: hidden;
    background: url(../img/filter_buttons/arrow.png) no-repeat right #fff;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-position-x: 100%;
    background-position-y: -4px;
    height: 33px;
    border-radius: 0;
    /*padding-bottom: 8px;*/
    font-size: 12px;
    margin-right: 0;
    padding-left: 7px;
    padding-right: 40px;
    min-width: 150px;
}

.wrapper_menu2 select:hover
{
    cursor: pointer;
}

@media screen and (max-width: 900px) {

.client_shadow_1
{
    width: 80%;
    left: 50px;
}

.client_shadow_2
{
    width: 81%;
    left: 47.5px;
}

.client_shadow_3
{
    width: 82%;
    left: 46.5px;
}

/*.client_top_tabs_div, .client_right_tabs_div
{
    display: none;
}*/

.all_clients
{
    width: 100%;
}

.client_shadow_1 
{
    width: 93%;
    left: 0px;
}

.client_shadow_2 
{
    width: 94.5%;
    left: 0.5px;
}

.client_shadow_3 
{
    width: 95.5%;
    left: -1px;
}

/*.country_drop
{
    display: block;
}*/

}

@media screen and (max-width: 767px) {

    .md_photo 
    {
        margin-top: 18px;
    }

    .md_sign .span_1, .md_sign .span_2 
    {
        text-align: center;
    }

    .md_sign .span_1
    {
        padding-right: 0;
    }

    .md_sign_photo
    {
        float: none;
    }

}

@media screen and (max-width: 580px) {

    .client_span_1
    {
        font-size: 39px;
    }
    .client_span_2
    {
        font-size: 15px;
    }
}

@media screen and (max-width: 570px) {

    .all_clients
    {
        top: 0;
    }
}

