.gallery_div
{
  padding-top: 50px;
}

.gallery_row
{
  padding-left: 0% !important;
  padding-right: 0 !important;
  width: 90% !important;
}

.gallery_cols
{
  padding-left: 0.5%;
  padding-right: 0%;
  margin-bottom: 1.5%;
  height: 310px;
  width: 23%;
  margin-right: 1%;
  margin-left: 1%;
  /* background-size: cover; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: solid #333333;
}

.g_spans
{
  display: block;
}

.gallery_cols img 
{
  width: 100%;
}

.gallery_workshop_title 
{
  font-family: 'Aileron Black';
  font-size: 18px;
  color: #fff;
}

.gallery_date
{
  font-family: 'Aileron Light';
  font-size: 12px;
  color: #fff;
}

.gallery_inside_div
{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  z-index: 99;
  display: table;
  padding: 5%;
  transition: all 1.25s ease 0s;
  -webkit-transition: all 1.25s ease 0s;
}

.gallery_inside_div_2
{
  position: absolute;
  width: 101%;
  left: -9000px;
  bottom: 0;
  height: 0;
  background-color: #333333;
  z-index: 100;
  display: table;
  padding: 8px;
  opacity: 0;


  transition: opacity 1.5s, height 1.5s, border 1.5s ease 0s;
  -webkit-transition: opacity 1.5s, height 1.5s, border 1.5s ease 0s;

  transition-animation-delay: 2s, 2s, 2s;
  -webkit-animation-delay: 2s, 2s, 2s;

}

.gallery_inside_div_2 p
{
  font-family: 'Aileron Regular';
  font-size: 13px;
  color: #fff;
  height: 0;
  overflow: scroll;

  transition: height 1.5s ease 0s;
  -webkit-transition: height 1.5s ease 0s;

}

.gallery_cols:hover
{
  cursor: pointer;
}

.gallery_cols:hover .gallery_background
{
  background-color: #319966;
  opacity: 1;
  bottom: 204px;
  border-bottom: solid 1px #fff;
}

.gallery_cols:hover .gallery_inside_div
{
  bottom: 204px;
  text-align: center;
}

.gallery_cols:hover .gallery_inside_div_2
{
  opacity: 1;
  height: 204px;
  left: 0;
}

.gallery_cols:hover .gallery_inside_div_2 p
{
  height: 178px;
}

.gallery_background
{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  background-color: #333333;
  opacity: 0.7;
  width: 100%;
  transition: all 1.25s ease 0s;
  -webkit-transition: all 1.25s ease 0s;
}

.page_div
{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.links
{
  background-color: #333333;
  display: inline-block;
  color: #fff;
  font-size: 17px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.links_active div
{
  background-color: #319966;
}

.links_active div:hover
{
  cursor: default;
}

.links:hover
{
  background-color: #319966;
  cursor: pointer;
}

.no_link
{
  display: none;
}

@media screen and (max-width: 986px) {

  .gallery_cols
  {
    width: 31%;
  }

  .last_row
  {
    margin-left: 19%;
  }
}

@media screen and (max-width: 768px) {

  .gallery_cols
  {
    width: 48%;
  }
  .last_row
  {
    margin-left: 1%;
  }
}

@media screen and (max-width: 520px) {

  .gallery_cols 
  {
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
  }

  .gallery_cols img
  {
    width: 80%;
  }

  .gallery_background 
  {
    left: 0;
    bottom: 0;
    height: 98px;
    width: 100%;
  }

  .gallery_inside_div 
  {
    position: absolute;
    left: 0;
    bottom: -6%;
    height: 125px;
    z-index: 99;
    display: table;
    padding: 10%;
    text-align: left;
  }

}