@font-face {
    font-family: 'Aileron Regular';
    src: url('../fonts/aileron-regular-webfont.eot');
    src: url('../fonts/aileron-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileron-regular-webfont.woff') format('woff'),
         url('../fonts/aileron-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aileron Black';
    src: url('../fonts/aileron-black-webfont.eot');
    src: url('../fonts/aileron-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileron-black-webfont.woff') format('woff'),
         url('../fonts/aileron-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aileron Light';
    src: url('../fonts/Aileron-Light.eot');
    src: url('../fonts/Aileron-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-Light.woff') format('woff'),
         url('../fonts/Aileron-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.main_content
{
  padding-bottom: 0;
}

.md_photo_div
{
    padding-top: 50px;
}


.md_photo
{
    margin-bottom: 40px;
}
.md_photo img
{
    width: 100%;
}

.md_text .md_p_1
{
    color: #333333;
    font-size: 17px;
    font-family: 'Aileron Light';
    width: 75%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.md_text .md_p_2
{
    color: #333333;
    font-size: 17px;
    font-family: 'Aileron Light';
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.md_sign
{
    margin-top: 60px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.md_sign .span_1
{
    margin-bottom: 15px;
    padding-right: 77px;
}

.md_sign .span_1, .md_sign .span_2 
{
    color: #333333;
    font-size: 17px;
    font-family: 'Aileron Black';
    text-align: center;
    display: block;
    text-align: right;
}

.md_sign_photo
{
    max-width: 200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: right;
}

.md_sign_photo img
{
    width: 100%;
}


@media screen and (max-width: 767px) {

    .md_photo 
    {
        margin-top: 18px;
    }

    .md_sign .span_1, .md_sign .span_2 
    {
        text-align: center;
    }

    .md_sign .span_1
    {
        padding-right: 0;
    }

    .md_sign_photo
    {
        float: none;
    }

}

@media screen and (max-width: 479px) {

    .quote_span_1, .quote_span_2
    {
        font-size: 17px;
    }
}
