.main_content
{
  padding-bottom: 0;
}

.mission_div
{
    padding-top: 50px;
}

.mission_header
{
  position: relative;
  padding-left: 6%;
}
.vision_logo
{
  display: inline-block;
  width: 17%;
}

.vision_logo img
{
  width: 100%;
}

.mission_header span 
{
  font-family: 'Aileron Regular';
  font-size: 24px;
  color: #666666;
  position: absolute;
  bottom: 0;
  line-height: 1;
  margin-left: 2%;
}

.mission_banner 
{
  margin-top: 1%;
}

.mission_banner img 
{
  width: 100%;
}

.m_logo_div
{
  margin-bottom: 15px;
}

.m_logo_div img, .v_logo_div img
{
  width: 100%;
}

.mission_values_left
{
  background-color: #f2f2f2;
  padding: 6%;
  font-family: 'Aileron Regular';
  text-align: justify;
  font-size: 13px;
  padding-top: 10%;
}

.mission_values_right
{
  padding: 6%;
  padding-top: 9%;
}

.v_logo_div
{
  margin-bottom: 15px;
  margin-left: -4.5%;
  margin-top: -7px;
}

.values_span_light
{
  font-family: 'Aileron Regular';
  font-size: 13px;
}

.values_span_black
{
  font-family: 'Aileron Black';
  font-size: 13px;
}

.mission_values_left ul
{
    padding-left: 10px;
}

.mission_values_right ul
{
    padding-left: 10px;
    padding-top: 10px;
}

@media screen and (max-width: 910px) {

  .mission_header span
  {
    font-size: 20px;
  }
} 
@media screen and (max-width: 768px) {

  .mission_header span
  {
    font-size: 14px;
  }

  .mission_values_left, .mission_values_right
  {
    width: 100%;
    text-align: center;
  }

  .mission_values_left ul, .mission_values_right ul
  {
     text-align: left;
  }

}

@media screen and (max-width: 550px) {

  .mission_header span
  {
    font-size: 12px;
  }

  .vision_logo 
  {
    width: 29%;
  }

  .title_strip
  {
    padding-top: 2%;
    width: 104%;
  }

  .title_strip span 
  {
    font-size: 24px;
  }

}
@media screen and (max-width: 479px) {

  .title_strip
  {
    width: 105%;
  }
}

@media screen and (max-width: 400px) {

  .title_strip span 
  {
    font-size: 19px;
  }
}