.main_content
{
  padding-bottom: 0;
}

.mission_div
{
    padding-top: 50px;
}

.mission_header
{
  position: relative;
  padding-right: 6%;
}
.vision_logo
{
  display: inline-block;
}

.vision_span
{
  font-family: 'GESSTVBold-Bold';
  font-size: 67px;
  color: #319966;
  line-height: 1;
}

.logo_spans
{
  font-family: 'GESSTVBold-Bold';
  font-size: 73px;
  color: #319966;
}
.mission_header .mission_spans 
{
  font-family: 'GESSTextLight-Light';
  font-size: 24px;
  color: #666666;
  position: absolute;
  bottom: 0;
  line-height: 1;
  margin-right: 2%;
}

.mission_banner 
{
  margin-top: 1%;
}

.mission_banner img 
{
  width: 100%;
}

.m_logo_div
{
  margin-bottom: 15px;
}

.m_logo_div img, .v_logo_div img
{
  width: 100%;
}

.mission_values_left
{
  background-color: #f2f2f2;
  padding: 6%;
  font-family: 'GESSTextLight-Light';
  text-align: justify;
  font-size: 13px;
  padding-top: 10%;
}

.mission_values_right
{
  padding: 6%;
  padding-top: 9%;
  font-family: 'GESSTextLight-Light';
}

.v_logo_div
{
  margin-bottom: 15px;
  margin-left: -4.5%;
  margin-top: -7px;
}

.values_span_light
{
  font-family: 'GESSTextLight-Light';
  font-size: 13px;
}

.values_span_black
{
  font-family: 'GESSTwoBold-Bold';
  font-size: 13px;
}

.mission_values_left ul
{
    padding-right: 10px;
}

.mission_values_right ul
{
    padding-right: 10px;
    padding-top: 10px;
}

@media screen and (max-width: 768px) {

  .mission_header .mission_spans 
  {
    font-size: 22px;
  }

  .mission_values_left, .mission_values_right
  {
    width: 100%;
    text-align: center;
  }

  .mission_values_left ul, .mission_values_right ul
  {
     text-align: right;
  }

}

@media screen and (max-width: 550px) {

  .vision_span
  {
    font-size: 50px;
  }

  .vision_logo 
  {
    width: 29%;
  }

  .title_strip
  {
    padding-top: 1%;
    width: 104%;
  }

  .title_strip span 
  {
    font-size: 24px;
  }

}
@media screen and (max-width: 479px) {

  .title_strip
  {
    width: 105%;
  }
}

@media screen and (max-width: 400px) {

  .vision_logo 
  {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 10px;
  }

  .mission_header .mission_spans
  {
    position: relative;
  }

  .mission_header 
  {
    position: relative;
    text-align: center;
     padding-right: 0; 
  }
}