.books_div
{
  text-align: center;
  padding-left: 4% !important;
  padding-right: 1% !important;
  padding-top: 50px;
}

.book
{
  text-align: center;
  margin-bottom: 4%;
  width: 48%;
}

.first_news
{
	width: 96%;
	margin-bottom: 0;
}

.second_divs
{
	width: 33%;
	padding: 10px;
	padding-left: 14px;
}

.book_left
{
  padding: 0;
  width: 100%;
  height: 250px;
  width: 100%;
  overflow: hidden;
  /*background-image: url(http://localhost/BBusinesss/Website/Old_Version/wp-content/uploads/2016/01/DSC01543.jpg);*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
  border: solid #333333;
}

.first_news .book_left
{
	width: 48%;
}

.book_right
{
  padding: 0;
  width: 100%;
  text-align: left;
}

.first_news .book_right
{
  padding: 0;
  width: 52%;
  text-align: left;
}

.book_title
{
  display: block;
  background-color: #333333;
  color: #fff;
  font-family: 'Aileron Black';
  font-size: 15px;
  width: 100%;
  padding: 5px;
  padding-left: 17px;
}

.first_news .book_title
{
  background-color: #fff;
  color: #000;
  font-size: 28px;
}


.book_overview
{
  color: #666666;
  font-family: 'Aileron Regular';
  font-size: 13px;
  padding-top: 5px;
  text-align: justify;
}

.first_news .book_overview
{
   padding-left: 20px;
}

.book_overview_full
{
	display: none;
}

.case_2
{
	display: none;
}

#modal-1 .md-content
{
    height: 500px;
    overflow: scroll;
}

.md-content h3
{
	background: #333333 !important;
}

.modal_image_div
{
	width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.modal_image_div img
{
	width: 100%;
	margin-left: 0;
	margin-bottom: 0;
}

.more_book_btn
{
  float: right;
  background-color: #339966;
  color: #fff;
  border-radius: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: 'Aileron Regular';
  font-size: 16px;
  border: solid 1px #339966;
}

.more_book_btn:hover
{
  background-color: #fff;
  color: #339966;
}
.page_div
{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.links
{
  background-color: #333333;
  display: inline-block;
  color: #fff;
  font-size: 17px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.links_active div
{
  background-color: #319966;
}

.links_active div:hover
{
  cursor: default;
}

.links:hover
{
  background-color: #319966;
  cursor: pointer;
}

.no_link
{
  display: none;
}

.size_2
{
	display: none;
}


.modal_over a
{
	color: #000;
}

.modal_over a:hover
{
	color: #333333;
}

@media screen and (max-width: 1070px) {

	.book_title, .book_overview_title, .book_overview
	{
		font-size: 12px;
	}
}

@media screen and (max-width: 950px) {

	.size_1
	{
		display: none;
	}
	.size_2
	{
		display: block;
	}

	.size_2
	{
		width: 50%;
    	padding-left: 0;
	}
	.size_2 .book_left
	{
		height: 220px;
	}

	.size_2 .book_left img 
	{
	    width: inherit; 
	    max-height: inherit; 
	    min-height: inherit; 
	    height: 220px;
	}

	.size_2 .book_right
	{
		display: table;
	}

	.book_title, .book_overview_title, .book_overview
	{
		font-size: 13px;
	}


}	
@media screen and (max-width: 768px) {

	.title_strip
	{
		width: 106%;
	}

	.book
	{
		margin-bottom: 5%;
	}

	.book_left
	{
		width: 100%;
    	text-align: center;
	}

	.book_left img
	{
		width: 35%;
		max-height: inherit;
		min-height: inherit;
	}

	.book_right
	{
		margin-top: 10px;
		text-align: center;
		width: 100%;
	}

	.book_title
	{
		text-align: center;
	}

	.overview_dot
	{
		display: none;
	}
	.book_overview_title
	{
		width: 100%;
		text-align: center;
	}
	.more_book_btn
	{
		float: none;
	}

}

@media screen and (max-width: 650px) {

	.size_2
	{
		width: 100%;
	}
}	


