@font-face {
    font-family: 'Aileron Regular';
    src: url('../fonts/aileron-regular-webfont.eot');
    src: url('../fonts/aileron-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileron-regular-webfont.woff') format('woff'),
         url('../fonts/aileron-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aileron Black';
    src: url('../fonts/aileron-black-webfont.eot');
    src: url('../fonts/aileron-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileron-black-webfont.woff') format('woff'),
         url('../fonts/aileron-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aileron Light';
    src: url('../fonts/Aileron-Light.eot');
    src: url('../fonts/Aileron-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-Light.woff') format('woff'),
         url('../fonts/Aileron-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.main_content
{
  padding-bottom: 0;
}

.image_div
{
    padding-top: 50px;
    padding-bottom: 40px;
}

.main_image
{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.diagram_div
{
    /*height: 1400px;*/
    width: 50% !important;
    position: relative;
    margin-bottom: 60px;
    z-index: 10;
}

.diagram_div img
{
    z-index: 500;
}

.diagram_div_middle
{
    width: 20% !important;
}

.diagrams
{
    width: 100%;
    background-color: #ce3234;
    position: relative;
    z-index: 200;
    display: block;
    margin-bottom: 41px;
}

.diagrams img
{
    width: 100%;
}

.seps
{
    z-index: -10 !important;
}


.sep1, .sep2, .sep3
{
    width: 1px;
    height: 45px;
    background-color: #000;
    top: 100%;
    left: 52%;
    position: absolute;
}

.sep3
{
    height: 560%;
    /*height: 1000px;*/
}

.diagram_div_middle_2, .diagram_div_middle_3
{
    text-align: center;
}

.diagram_div_middle_2_left, .diagram_div_middle_2_right, .diagram_div_middle_3_left, .diagram_div_middle_3_right
{
    width: 20%;
    display: inline-block;
}

.diagram_div_middle_2_left img, .diagram_div_middle_2_right img, .diagram_div_middle_3_left img, .diagram_div_middle_3_right img
{
    width: 100%;
}

.diagrams_low
{
    margin-top: 5%;
}

.sep4
{
    width: 250px;
    height: 1px;
    background-color: #000;
    position: relative;
    display: inline-block;
    margin-left: -4px;
    margin-right: -4px;
}

.diagrams_low_2
{
    margin-top: 9%;
}

.diagram_div_middle_4
{
    text-align: center;
}

.diagram_div_middle_4_2
{
    margin-right: 6%;
    margin-left: 2%;
}

.diagram_div_middle_4_3
{
    margin-right: 2%;
}

.diagram_4
{
    width: 20%;
    display: inline-block;
    position: relative;
    z-index: 999;
}

.diagram_4:hover
{
    cursor: pointer;
}

.diagram_4 img
{
    width: 100%;
}

.sep5, .sep6
{
    width: 1px;
    height: 42%;
    background-color: #000;
    top: -29%;
    left: 52%;
    position: absolute;
    z-index: 1;
}

.sep7, .sep8
{
    width: 1px;
    height: 42%;
    background-color: #000;
    top: -29%;
    left: 52%;
    position: absolute;
    z-index: 1;
}

.sep5_2
{
    width: 60%;
    height: 1px;
    background-color: #000;
    top: -29%;
    left: 52%;
    position: absolute;
    z-index: 1;
}

.sep6_2
{
    width: 126%;
    height: 1px;
    background-color: #000;
    top: -29%;
    left: -7%;
    position: absolute;
    z-index: 1;
}

.sep7_2
{
    width: 126%;
    height: 1px;
    background-color: #000;
    top: -29%;
    left: -14%;
    position: absolute;
    z-index: 1;
}

.sep8_2
{
    width: 60%;
    height: 1px;
    background-color: #000;
    top: -29%;
    left: -8%;
    position: absolute;
    z-index: 1;
}

.diagrams_low_3
{
    margin-top: 9%;
}

.diagram_div_middle_5
{
    text-align: center;
}

.diagram_div_middle_5_2
{
    margin-right: 3%;
    margin-left: 3%;
}

.diagram_5
{
    width: 20%;
    display: inline-block;
    position: relative;
    z-index: 999;
}

.diagram_5 img
{
    width: 100%;
}

.sep9
{
    width: 1px;
    height: 42%;
    background-color: #000;
    top: -29%;
    left: 52%;
    position: absolute;
    z-index: 1;
}

.sep9_2
{
    width: 122%;
    height: 1px;
    background-color: #000;
    top: -29%;
    left: 52%;
    position: absolute;
    z-index: 1;
}

.sep10
{
    width: 1px;
    height: 42%;
    background-color: #000;
    top: -29%;
    left: 52%;
    position: absolute;
    z-index: 1;
}

.sep10_2
{
    width: 118%;
    height: 1px;
    background-color: #000;
    top: -29%;
    left: -66%;
    position: absolute;
    z-index: 1;
}

.diagram_div
{
    width: 60% !important;
}

.diagrams
{
    background-color: transparent !important;
}

.prev_div
{
    position: absolute;
    display: none;
    z-index: 9999;
    background-color: #fff;
}

.prev_div2
{
    width: 310%;
    top: -285%;
    left: 105%;
    padding: 17%;
    border: solid 1px #D0302E;
    border-radius: 4px;
}

.prev_div3
{
    width: 350%;
    top: -155%;
    left: 115%;
    padding: 17%;
    border: solid 1px #D0302E;
    border-radius: 4px;
}

.prev_div4
{
    width: 420%;
    top: -294%;
    left: -155%;
    padding: 17%;
    border: solid 1px #D0302E;
    border-radius: 4px;
}

.prev_div5
{
  width: 50%;
  top: 59%;
  left: 97%;
  padding: 4%;
  border: solid 1px #D0302E;
  border-radius: 4px;
}

.prev_div6
{
    width: 400%;
    top: -445%;
    left: -85%;
    border: solid 1px #fa9a00;
    border-radius: 4px;
}

.prev_div7
{
    width: 470%;
    top: -445%;
    left: -185%;
    border: solid 1px #3AA8D8;
    border-radius: 4px;
}

.prev_div8
{
    width: 550%;
    top: -555%;
    left: -235%;
    border: solid 1px #329967;
    border-radius: 4px;
}

.prev_div:hover
{
    cursor: default;
}

.prev_div img 
{
    width: 100%;
}

.modal-dialog
{
    width: 70% !important;
}

.sep_new
{
    width: 1px;
    height: 73%;
    background-color: #000;
    top: -102%;
    left: 194%;
    position: absolute;
    z-index: 1;
}

.sep_new_3
{
    width: 1px;
    height: 73%;
    background-color: #000;
    top: -102%;
    left: 222%;
    position: absolute;
    z-index: 1;
}

@media screen and (max-width: 767px) {

   .diagram_div
  {
      width: 90% !important;
  }
}

@media screen and (max-width: 517px) {

   .diagram_div
  {
      width: 90% !important;
  }

  .diagram_div_middle_2_left
  {
    margin-right: -25%;
  }

  .diagram_div_middle_3_left
  {
    margin-right: -25%;
  }

  .sep4
  {
    margin-left: 15px;
  }
}

@media screen and (max-width: 479px) {

   .diagram_div
  {
      width: 100% !important;
  }

  .diagram_div_middle_2_left, .diagram_div_middle_2_right, .diagram_div_middle_3_left, .diagram_div_middle_3_right
  {
    width: 14%;
  }
}