
.main_content
{
  padding-bottom: 0;
}

.md_photo_div
{
    padding-top: 50px;
}

.md_photo
{
    margin-bottom: 40px;
}
.md_photo img
{
    width: 100%;
}

.center_img
{
    margin-bottom: 30px;
}

.wrapper_size_2
{
    display: none;
}

.wrapper_menu2
{
    background-color: #333333;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

.wrapper_menu2 select
{
    background-color: #dddddd !important;
    color: #6d6d6d;
    font-family: 'GESSTwoBold-Bold';
    /*width: 145px !important;*/
    overflow: hidden;
    background: url(../img/filter_buttons/arrow.png) no-repeat right #fff;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-position-x: 0%;
    background-position-y: -4px;
    height: 33px;
    border-radius: 0;
    /*padding-bottom: 8px;*/
    font-size: 12px;
    margin-left: 0;
    padding-right: 7px;
    padding-left: 40px;
}

.wrapper_menu2 select:hover
{
    cursor: pointer;
}

.filter_table
{
    width: 100%;
}
.filter_submit
{
    background-color: #319966;
    color: #fff;
    font-size: 24px;
    padding: 9px;
    border-radius: 0;
}

.filter_submit:hover
{
    color: #319966;
    background-color: #fff;
    border: solid 1px #319966;;
}

.area_main_wrap
{
    width: 90%;
    padding: 10px;
}

.pop_up_form #gform_wrapper_4 input, .ginput_container textarea, .gform_body input
{
    color: #000;
    height: 30px;
    padding-right: 5px;
    width: 100%;
    font-size: 11px;
}

.basic-model
{
    display: none;
}

.read_more_link
{
    color: #2d9966 !important;
}

.all_posts_div
{
    width: 100%;
    min-height: 300px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
}

.cat_div
{
    position: relative;
    padding-top: 20px;
    margin-bottom: 5px;
    width: 100%;
}

.cat_div:hover
{
    cursor: pointer;
}

.cat_div_1
{
    width: 5%;
    height: 40px;
    background-color: #1f6544;
    float: right;
    font-size: 24px;
    color: #fff;
    text-align: center;
    padding-top: 2px;
}

.minus_sign
{
    display: none;
}

.cat_div_2
{
    height: 40px;
    background-color: #2d9966;
    display: table;
    padding-left: 10px;
    padding-right: 10px;
    width: 95%;
}

.cat_div_2 span
{
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
}


.course_div
{
    position: relative;
    background-color: #e5e5e5;
}

.course_div_1
{
    width: 70px;
    height: 30px;
    background-color: #fff;
    float: right;
}

.course_div_2
{
    height: 30px;
    background-color: #c38e00;
    display: table;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.course_div_2 span
{
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
}

.cat_posts
{
    display: none;
}

.post_div
{
    position: relative;
    background-color: #e5e5e5;
    margin-top: 5px;
}

.post_table
{
    margin-bottom: 2px;
}

.post_table th, .post_table td
{
    text-align: center;
}

.post_table thead
{
    background-color: #333333;
}

.post_table tr th
{
    font-size: 14px;
    color: #fff;
}

.post_table .odd
{
    background-color: #d7d7d7 !important;
}

.post_table .even
{
    background-color: #bababa !important;
}

.post_table tbody tr
{
    border-top: solid 3px #fff;
    border-bottom: solid 3px #fff;
}

.post_table tbody tr td
{
    font-size: 14px;
    color: #000;
    /*width: 14%;*/
}

.catalogue_link_td 
{
    font-family: 'GESSTextLight-Light';
    font-size: 16px !important;
    color: #191919 !important;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle !important;
    text-align: right !important;
    padding-right: 10px !important;
}

.catalogue_cont
{
    display: none;
    font-family: 'GESSTextLight-Light';
    font-size: 16px !important;
    color: #191919 !important;
    text-align: justify !important;
    padding: 10px !important;
}

.catalogue_cont h1, .catalogue_cont h2, .catalogue_cont h3, .catalogue_cont h4, .catalogue_cont h5
, .catalogue_cont span, .catalogue_cont p
{
    font-family: 'GESSTextLight-Light' !important;
    text-align: justify !important;
    line-height: 1.5;
}


.only_cat
{
    display: block !important;
}

.disable_click:hover
{
    cursor: default !important;
}

.empty_cell
{
    width: 25%;
    background-color: #fff !important;
    display: table-cell;
    vertical-align: middle !important;
}

.empty_cell img
{
    float: right;
    border: none !important;
}

.empty_cell img:hover
{
    opacity: 0.8;
    cursor: pointer;
}

.overviews
{
    display: none;
}

.expand_td
{
    width: 30px;
}

.action_images
{
    width: 45%;
    margin-left: 5 !important;
}

.regi_online
{
    margin-top: 0 !important;
}

#header * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

#header a
{
    text-decoration: none !important;
}

.plus_disable
{
    display: none !important;
}

.minus_enable
{
    display: block !important;
}

.empty_cell
{
    padding-left: 0 !important;
    background-color: #fff !important;
}

.left_img
{
    float: left !important;
    margin-left: 5px !important;
}

.right_img
{
    float: right !important;
    margin-right: 5px !important;
}

.cat_div_2 span, .course_div_2 span, .fl
{
    font-family: 'GESSTwoBold-Bold';
}

.table
{
    /*font-family: 'GESSTextLight-Light';*/
    font-family: 'GESSTextLight-Light';
}

#gform_fields_6 input
{
    height: 28px !important;
    font-family: 'GESSTextLight-Light';
    padding-right: 10px;
    width: 100%;
    font-size: 11px;
}

.pop_up_form div label
{
    width: inherit !important;
    min-width: 150px !important;
}

.pop_up_form
{
    width: 550px;
    font-family: 'GESSTextLight-Light';
}

.pop_up_form label
{
    font-family: 'GESSTextLight-Light' !important;
}

.pop_up_form select
{
    width: 95%;
    margin-right: 14px;
}

#input_6_7
{
    margin-right: 7px;   
}

.row_course_2 td 
{
    position: relative;
}
.test_div 
{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
}

@media screen and (max-width: 1150px) {


    .wrapper_size_2 select
    {
        width: 208px !important;
    }

    .area_main_wrap
    {
        width: 100%;
    }

    .first_row_select select
    {
        margin-bottom: 8px;
    }

    .all_posts_div
    {
        margin-top: 10px;
    }

}


@media screen and (max-width: 830px) {


    .wrapper_size_2 select
    {
        width: 170px !important;
    }

}

@media screen and (max-width: 767px) {

    .md_photo 
    {
        margin-top: 18px;
    }

    .cat_div
    {
        text-align: center;
    }

    .course_div_1
    {
        display: none;
    }

    .course_div_2
    {
        width: 100%;
        text-align: center;
    }

    .cat_div_2 span
    {
        font-size: 14px;
    }

    .course_div_2 span
    {
        font-size: 14px;
    }

    .post_table thead tr th, .post_table tbody tr td
    {
        font-size: 14px !important;
    }

    .right_img
    {
        margin-right: 0 !important;
    }

}

@media screen and (max-width: 685px) {

    .wrapper_size_2 select
    {
        width: 120px !important;
    }

}

@media screen and (max-width: 590px) {

    .action_images
    {
        width: 85%;
        margin-bottom: 7px;
        float: right !important;
        margin-left: 0 !important;
        margin-right: 6px !important;
    }

}

@media screen and (max-width: 536px) {

     .wrapper_menu2
     {
        width: 75% !important;
     }

     .wrapper_menu2 select
     {
        width: 100%;
     }

     .filter_submit
     {
        width: 16%;
        font-size: 19px;
        padding-top: 11px;
        padding-bottom: 13px;
     }

}
@media screen and (max-width: 540px) {

    .cat_div_1
    {
        font-size: 16px;
        padding-top: 7px;
    }

}

