
.main_content
{
  background-color: #f2f2f2;
}
.gallery_div
{
  padding-top: 50px;
}

.gallery_row
{
  padding-left: 2% !important;
  padding-right: 0 !important;
  width: 90% !important;
}

/*.gallery_cols
{
  padding-left: 0.5%;
  padding-right: 0%;
  margin-bottom: 2%;
  height: 270px;
  width: 31%;
  margin-right: 2%;
  background-size: 65% 65%;
  background-repeat: no-repeat;
  background-position: 50% 12%;
  background-color: #fff;
}*/

.gallery_cols
{
  margin-bottom: 2%;
  width: 32%;
  margin-right: 1%;
  padding: 0;
  border: solid #333333;
}

.image_div
{
  width: 100%;
  height: 200px;
  position: relative;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #fff;
}

.g_spans
{
  display: block;
}

.gallery_cols img 
{
  width: 100%;
}

.gallery_workshop_title 
{
  font-family: 'Aileron Black';
  font-size: 16px;
  color: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.gallery_inside_div
{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 64px;
    z-index: 99;
    padding: 3%;
    padding-left: 11px;
    display: table;
}

/*.gallery_background
{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 64px;
    background-color: #319966;
    width: 100%;
}*/

.gallery_background
{
    position: relative;
    /* margin-top: 6px; */
    width: 100%;
    text-align: center;
    height: 80px;
    /* display: table; */
    background-color: #319966;
    padding: 10px;
    border-top: solid #333333;
}

.page_div
{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.links
{
  background-color: #333333;
  display: inline-block;
  color: #fff;
  font-size: 17px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.links_active div
{
  background-color: #319966;
}

.links_active div:hover
{
  cursor: default;
}

.links:hover
{
  background-color: #319966;
  cursor: pointer;
}

.no_link
{
  display: none;
}

@media screen and (max-width: 986px) {

  .gallery_cols
  {
    width: 45%;
    margin-bottom: 3%;
    margin-right: 2%;
    margin-left: 2%;
  }

  .last_row
  {
    margin-left: 27%;
  }
}

@media screen and (max-width: 768px) {


  .gallery_workshop_title
  {
    font-size: 14px;
  }
}

@media screen and (max-width: 650px) {

  .gallery_cols 
  {
    width: 70%;
    /* height: 270px; */
    /* margin-right: 2%; */
    background-size: 70% 70%;
    background-position: 50% 20%;
    /* margin-left: 0; */
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
    margin-bottom: 30px;
  }

  .gallery_inside_div
  {
    width: 100%;
    text-align: center;
  }

}
