.main_content
{
  padding-bottom: 0;
}

.md_photo_div
{
    padding-top: 50px;
}


.md_photo
{
    margin-bottom: 1%;
}
.md_photo img
{
    width: 100%;
}

/**
{
  -webkit-box-sizing: inherit !important;
  box-sizing: inherit !important;
}*/

a:hover
{
  text-decoration: none !important;
}

.request_div
{
  margin-top: 20px;
  margin-bottom: 100px;
}

.request_title
{
  background-color: #319966;
  padding-left: 18px;
  padding-bottom: 7px;
}

.request_title span
{
  font-family: 'Aileron Regular';
  font-size: 30px;
  color: #fff;
}

.request_form
{
    background-image: url('../img/request_back.png');
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 15px;
    width: 98%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}

.input_div
{
  text-align: right;
  display: inline-block;
    width: 217px;
    margin-right: 20px;
}

.input_div label
{
  font-family: 'Aileron Regular';
  font-size: 15px;
  color: #fff;
}

.request_form .form-group input
{
  display: inline-block;
  margin-right: 10px;
  border-radius: 0 !important;
  font-family: 'Aileron Regular';
}

.req_class
{
  display: inline-block;
  color: #319966;
  font-size: 21px;
  margin-right: 10px;
}

.req_class_2
{
    display: none;
    color: #319966;
    font-size: 21px;
    margin-left: 7px;   
}

.size_0
{
  width: 7%;
}

.size_1
{
  width: 15%;
}

.size_2
{
  width: 32%;
}

.size_3
{
  width: 25%;
}

.submit_btn
{
  background-color: #319966;
    color: #fff;
    border-radius: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-top: 2px;
    font-family: 'Aileron Regular';
    position: absolute;
    bottom: 20px;
    right: 20px;

}

.submit_btn:hover, .submit_btn:focus
{
  color: #319966;
  background-color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@media screen and (max-width: 858px) {

    .input_div 
    {
        width: 187px;
    }
}
@media screen and (max-width: 767px) {

    .md_photo_div
    {
        padding-top: 10px;
    }

    .md_photo 
    {
        margin-top: 18px;
    }

    .input_div
    {
        width: inherit;
        text-align: center;
        width: 100%;
    }

    .request_form .form-group input
    {
        display: block;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .address_2, .req_class
    {
        display: none !important;
    }

    .req_class_2
    {
        display: inline-block;
    }

    .submit_btn
    {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 4px;
        padding-top: 3px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: inherit;
        bottom: 0;
        right: 0;
    }
}

@media screen and (max-width: 479px) {


}
