#loading
{
	/*display: none !important;*/ 
}
.gallery_div
{
	padding-top: 50px;
}

#gallery-container
{
	width: 98% !important;
	margin-right: auto !important;
	margin-left: auto !important;
	position: relative !important;
	margin-top: 10px;
}

.main_content
{
	padding-bottom: 1%;
}

#imagelightbox
{
	cursor: pointer;
	position: fixed;
	z-index: 10000;

	-ms-touch-action: none;
	touch-action: none;

	-webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
	box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
}

/* OVERLAY */

#imagelightbox-overlay
{
	background-color: #fff;
	background-color: rgba( 255, 255, 255, .9 );
	position: fixed;
	z-index: 9998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


/* "CLOSE" BUTTON */

#imagelightbox-close
{
	width: 2.5em; /* 40 */
	height: 2.5em; /* 40 */
	text-align: left;
	background-color: #164a33;
	border-radius: 50%;
	border: none;
	position: fixed;
	z-index: 10002;
	top: 2.5em; /* 40 */
	right: 2.5em; /* 40 */

	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}
	#imagelightbox-close:hover,
	#imagelightbox-close:focus
	{
		background-color: #339966;
	}
	#imagelightbox-close:before,
	#imagelightbox-close:after
	{
		width: 2px;
		background-color: #fff;
		content: '';
		position: absolute;
		top: 20%;
		bottom: 20%;
		left: 50%;
		margin-left: -1px;
	}
	#imagelightbox-close:before
	{
		-webkit-transform: rotate( 45deg );
		-ms-transform: rotate( 45deg );
		transform: rotate( 45deg );
	}
	#imagelightbox-close:after
	{
		-webkit-transform: rotate( -45deg );
		-ms-transform: rotate( -45deg );
		transform: rotate( -45deg );
	}


/* NAVIGATION */

#imagelightbox-nav
{
	background-color: #444;
	background-color: rgba( 0, 0, 0, .5 );
	border-radius: 20px;
	position: fixed;
	z-index: 10001;
	left: 50%;
	bottom: 3.75em; /* 60 */
	padding: 0.313em; /* 5 */

	-webkit-transform: translateX( -50% );
	-ms-transform: translateX( -50% );
	transform: translateX( -50% );
}
	#imagelightbox-nav button
	{
		width: 1em; /* 20 */
		height: 1em; /* 20 */
		background-color: transparent;
		border: 1px solid #fff;
		border-radius: 50%;
		display: inline-block;
		margin: 0 0.313em; /* 5 */
	}
	#imagelightbox-nav button.active
	{
		background-color: #fff;
	}


/* ARROWS */

.imagelightbox-arrow
{
	width: 3.75em; /* 60 */
	height: 7.5em; /* 120 */
	background-color: #444;
	background-color: #164a33;
	vertical-align: middle;
	display: none;
	border: none;
	position: fixed;
	z-index: 10001;
	top: 50%;
	margin-top: -3.75em; /* 60 */
}
.imagelightbox-arrow:hover,
.imagelightbox-arrow:focus
{
	background-color: #666;
	background-color: #339966;
}
.imagelightbox-arrow:active
{
	background-color: #111;
}
	.imagelightbox-arrow-left
	{
		left: 2.5em; /* 40 */
	}
	.imagelightbox-arrow-right
	{
		right: 2.5em; /* 40 */
	}
	.imagelightbox-arrow:before
	{
		width: 0;
		height: 0;
		border: 1em solid transparent;
		content: '';
		display: inline-block;
		margin-bottom: -0.125em; /* 2 */
	}
		.imagelightbox-arrow-left:before
		{
			border-left: none;
			border-right-color: #fff;
			margin-left: -0.313em; /* 5 */
		}
		.imagelightbox-arrow-right:before
		{
			border-right: none;
			border-left-color: #fff;
			margin-right: -0.313em; /* 5 */
		}

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow
{
	-webkit-animation: fade-in .25s linear;
	animation: fade-in .25s linear;
}
	@-webkit-keyframes fade-in
	{
		from	{ opacity: 0; }
		to		{ opacity: 1; }
	}
	@keyframes fade-in
	{
		from	{ opacity: 0; }
		to		{ opacity: 1; }
	}

@media only screen and (max-width: 41.250em) /* 660 */
{
	#container
	{
		width: 100%;
	}
	#imagelightbox-close
	{
		top: 1.25em; /* 20 */
		right: 1.25em; /* 20 */
	}
	#imagelightbox-nav
	{
		bottom: 1.25em; /* 20 */
	}

	.imagelightbox-arrow
	{
		width: 2.5em; /* 40 */
		height: 3.75em; /* 60 */
		margin-top: -2.75em; /* 30 */
	}
	.imagelightbox-arrow-left
	{
		left: 1.25em; /* 20 */
	}
	.imagelightbox-arrow-right
	{
		right: 1.25em; /* 20 */
	}
}

.page_title
{
	text-align: center;
	
}

.page_title span
{
	font-family: 'Aileron Black';
	font-size: 30px;
}

@media only screen and (max-width: 20em) /* 320 */
{
	.imagelightbox-arrow-left
	{
		left: 0;
	}
	.imagelightbox-arrow-right
	{
		right: 0;
	}
}

.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border:none;
  border-radius:0; 
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.thumbnail:hover
{
	/*border: solid 5px #339966;*/
	opacity: 0.75;
}

.landscape:hover
{
  /*border: solid 1px #339966;*/
}

.gallery_div li
{
	display: inline-block;
	margin: 0.625em; /* 10 */
	width: 31%;
}
.landscape, .portrait_div
{
	/*width: 8.75em; */
	/*height: 150px;*/
	width: 100%;
	border-color: #eee;
	border: 0.425em solid rgba( 255, 255, 255, .5 ); /* 10 */

	-webkit-box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 ); /* 5 */
	box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 ); /* 5 */

	-webkit-transition: -webkit-box-shadow .3s ease, border-color .3s ease;
	transition: box-shadow .3s ease, border-color .3s ease;
}
						
.green_arrow img 
{
	margin-top: 6px;
}

@media screen and (max-width: 1025px) {

	.gallery_div li
	{
		width: 47%;
	}
}		

@media screen and (max-width: 785px) {

	#gallery-container
	{
		padding: 0;
	}

	.gallery_div li
	{
		width: 96%;
		padding-top: 53%;
	}

	
}
						
