
.main_content
{
  background-color: #f2f2f2;
}
.gallery_div
{
  padding-top: 50px;
}

.gallery_row
{
  padding-left: 3% !important;
  padding-right: 1.5% !important;
}


.gallery_cols
{
  margin-bottom: 70px;
  width: 33%;
  padding: 10px;
  padding-right: 8px;
  padding-left: 0;
  height: 400px;
}


.first_div
{
  width: 100%;
  background-color: #fff;
  display: table;
  padding-left: 5px;
  padding-right: 9px;
}

.image_div
{
  width: 45%;
  height: 100px;
  position: relative;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #fff;
  display: table-cell;
  vertical-align: middle;
}


.first_div span 
{
  font-family: 'Aileron Bold';
  font-size: 14px;
  color: #333333;
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
}

.test_div
{
  width: 100%;
  height: 350px;
  overflow: scroll;
  background-color: #cccccc;
}

.quote_img
{
  width: 20px;
  position: absolute;
  top: -11px;
  left: -8px;
}

.quote_img img
{
  width: 100%;
}

.span_holder
{
  width: 90%;
  border-bottom: solid 1px #333333;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.g_spans
{
  display: block;
}

.quote_span 
{
  font-family: 'Aileron Regular';
  font-size: 14px;
  color: #333333;
  position: relative;
  margin-bottom: 7px;
  text-align: justify;
}

.author_span 
{
  font-family: 'Aileron Bold';
  font-size: 14px;
  color: #333333;
  position: relative;
  text-align: right;
}

.page_div
{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.links
{
  background-color: #333333;
  display: inline-block;
  color: #fff;
  font-size: 17px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.links_active div
{
  background-color: #319966;
}

.links_active div:hover
{
  cursor: default;
}

.links:hover
{
  background-color: #319966;
  cursor: pointer;
}

.no_link
{
  display: none;
}

@media screen and (max-width: 920px) {

  .gallery_cols
  {
    width: 47%;
    margin-left: 2%;
  }

  .last_row
  {
    margin-left: 26%;
  }

}

@media screen and (max-width: 768px) {

  .gallery_cols
  {
    width: 85%;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }

  .image_div 
  {
    width: 40%;
    background-size: 50%;
  }

  .gallery_workshop_title
  {
    font-size: 14px;
  }
}

@media screen and (max-width: 650px) {


}
