.main_content
{
  padding-bottom: 0;
}

.image_div
{
    padding-top: 50px;
    padding-bottom: 40px;
}

.main_image
{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.main_image img
{
    width: 100%;
}

.content_div
{
    padding-top: 30px;
}

.ac-container *
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: border-box;
}

.ac-container
{
    color: #000 !important;
}
.ac-container input:checked ~ article.ac-large
{
    padding: 13px;
    text-align: justify;
}

.content_div p, .content_div ul, .content_div li, .content_div span 
{
    font-family: 'GESSTextLight-Light';
    font-size: 18px;
}

.content_div strong, .content_div b
{
    font-family: 'GESSTwoBold-Bold';
    font-size: 18px;
}

.content_div ul
{
    padding-left: 20px;
}
.ac-container label
{
    font-family: 'GESSTwoBold-Bold';
    text-shadow: none !important;
}

.ac-container
{
    text-align: right;
}
@media screen and (max-width: 575px) {

    .ac-container label
    {
        font-size: 16px;
    }
}

@media screen and (max-width: 479px) {

    .ac-container label
    {
        font-size: 13px;
    }
}