
.main_content
{
  background-color: #f2f2f2;
}
.gallery_div
{
  padding-top: 50px;
}

.gallery_row
{
  padding-left: 3% !important;
  padding-right: 0% !important;
}

.gallery_cols
{
  margin-bottom: 2%;
  width: 31%;
  margin-right: 2%;
  background-color: #cccccc;
  padding: 2%;
  padding-top: 40px;
}

.image_div
{
  width: 100%;
  height: 250px;
  position: relative;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #fff;
  border-radius: 13px; 
}

.g_spans
{
  display: block;
  font-family: 'Aileron Black';
  font-size: 16px;
}

.gallery_cols img 
{
  width: 100%;
}


.gallery_inside_div
{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 64px;
    z-index: 99;
    padding: 3%;
    padding-left: 11px;
    display: table;
}

.gallery_background
{
    position: relative;
    margin-top: 6px;
    width: 100%;
    text-align: center;
    height: 80px;
    display: table;
}

.gallery_background div
{
  display: table-cell;
  vertical-align: middle;
}


.gallery_workshop_title 
{
  color: #319966;
}

.gallery_workshop_loc 
{
  color: #333333;
}

.page_div
{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.icons_div
{
  text-align: center;
  margin-top: 10px;
}

.v_icons
{
  width: 35px;
  height: 35px;
  background-color: #333333;
  border: solid 1px  #333333;
  position: relative;
  margin-right: 10px;
  display: inline-block;
}

.v_icons img
{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 50%;
}

.v_icons_active
{
  display: none;
}

.v_icons:not(.v_icons_dis):hover
{
   background-color: #fff;
   cursor: pointer;
}

.v_icons:not(.v_icons_dis):hover .v_icons_idle
{
   display: none;
}

.v_icons:not(.v_icons_dis):hover .v_icons_active
{
   display: block;
}

.v_icons_dis
{
  opacity: 0.7;
  cursor: default;
}

.md-modal
{
  width: inherit !important;
}

.md-modal .md-content
{
  padding: 20px;
  text-align: center;
}

.md-modal .md-content p
{
  text-align: left;
  margin: 0;
}

.links
{
  background-color: #333333;
  display: inline-block;
  color: #fff;
  font-size: 17px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.links_active div
{
  background-color: #319966;
}

.links_active div:hover
{
  cursor: default;
}

.links:hover
{
  background-color: #319966;
  cursor: pointer;
}

.no_link
{
  display: none;
}

@media screen and (max-width: 986px) {

  .gallery_cols
  {
    width: 45%;
    margin-bottom: 3%;
    /*height: 270px;*/
    margin-right: 2%;
    margin-left: 2%;
  }

  .last_row
  {
    margin-left: 27%;
  }
}

@media screen and (max-width: 768px) {

  .gallery_workshop_title
  {
    font-size: 14px;
  }
}

@media screen and (max-width: 650px) {

  .gallery_cols 
  {
    width: 70%;
    /* height: 270px; */
    /* margin-right: 2%; */
    background-size: 70% 70%;
    background-position: 50% 20%;
    /* margin-left: 0; */
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  .gallery_inside_div
  {
    width: 100%;
    text-align: center;
  }

}

@media screen and (max-width: 479px) {

  .image_div
  {
    height: 170px;
  }

}

