.pp_social
{
  display: none !important;
}

/*.pp_pic_holder
{
  width: 80%;
}*/

.gallery_div
{
	padding-top: 50px;
}

.gallery_row
{
	padding-left: 2% !important;
	padding-right: 2% !important;
}

.gallery_cols
{
	padding-left: 0.5%;
  padding-right: 0%;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
}

.gallery_cols img
{
  width: 100%;
  border: solid 4px transparent;
  border-radius: 4px;
  border: solid #333333;
}

.gallery_cols:hover img
{
  /*opacity: 0.75;*/
  cursor: pointer;
  border-color: #319966;
}

.g_spans
{
	display: block;
}

.gallery_title
{
  height: 40px;
  padding-left: 4px;
  margin-top: 6px;
  text-align: left;
}

.gallery_title span
{
  font-family: 'Aileron Black';
  font-size: 14px;
  color: #7e7e7e;
}

.gallery_background
{
    position: absolute;
    left: 2%;
    bottom: 0;
    height: 125px;
    background-color: #332f2e;
    opacity: 0.8;
    width: 98%;
}

.page_div
{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.links
{
  background-color: #333333;
  display: inline-block;
  color: #fff;
  font-size: 17px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.links_active div
{
  background-color: #319966;
}

.links_active div:hover
{
  cursor: default;
}

.links:hover
{
  background-color: #319966;
  cursor: pointer;
}

.no_link, .pp_expand, .fancybox-nav, .panel, .number
{
  display: none !important;
}

.classybox-wrap
{
  background-color: #fff !important;
  background: none !important;
  border: none !important;
  padding: 0 !important;
}

@media screen and (max-width: 986px) {

  .gallery_cols
  {
    width: 33%;
  }

  .gallery_title span
  {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {

  .gallery_cols
  {
    width: 50%;
  }
}

@media screen and (max-width: 520px) {

  .gallery_cols 
  {
    width: 100%;
    position: relative;
    text-align: center;
  }

  .gallery_cols img
  {
    width: 80%;
  }

  .gallery_background 
  {
    left: 10.5%;
    bottom: 0;
    height: 98px;
    width: 79.7%;
  }

  .gallery_inside_div 
  {
    position: absolute;
    left: 25px;
    bottom: -6%;
    height: 125px;
    z-index: 99;
    display: table;
    padding: 10%;
    text-align: left;
  }

  .gallery_title
  {
    text-align: center;
  }
}